page-keyboard {

  .alert-wrapper {
    height: 180px;
  }
  [ng-reflect-ng-switch] {
    overflow: auto;
  }
  .alert-radio-group {
    max-height: 180px !important;
  }

  .interactionDiv{
    width: 80%;
    margin: 0 auto;
  }

  .keyboardDiv{
      width: 100%;
  }

  .interactionButton{
    width: 23.5%
  }

  ion-item.selw75 {
    min-width: 70%;
    max-width: 70%;
    ion-label {
      min-width: 25%;
      max-width: 25%;
    }
    ion-select {
      min-width: 75%;
      max-width: 25%;
    }
  }

  .keyboard {
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:13px;
      font-weight:bold;
      width: 35px;
      height: 120px;
      margin: 0 auto;
      text-decoration:none;
  }

  .custom-select {
    width: 40%;
    max-width: 40%;
  }
}
