<!--
  Generated template for the KeyboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{ 'keyboard' | translate}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding overflow-scroll="false">
  <div class="keyboardDiv">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'instrument' | translate }}:</ion-label>
            <ion-select [(ngModel)]="instrument">
              <ion-option *ngFor="let inst of instruments" [value]="inst.code">{{ inst.desc }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label>{{ 'dynamics' | translate }}:</ion-label>
            <ion-select [(ngModel)]="dynamic">
              <ion-option *ngFor="let dyna of dynamics" [value]="dyna.value">{{ dyna.desc }}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col>
          <button id="btnInstrument" class="btnBlue" (click)="playInst()">{{ 'playInst' | translate }}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <br>
  <div class="keyboardDiv">
      <button id="btnPlay" class="btnBlue" (click)="playExercise()">{{ 'btnPlay' | translate }}</button>
      <button id="btnRecord" class="btnRed" (click)="recordAnwser()">{{ btnRecordText }}</button>
      <button id="btnPlayAnswer" class="btnBlue" (click)="playAnswer()">{{ 'btnPlayAnswer' | translate }}</button>
      <button id="btnSend" class="btnGreen" (click)="sendAnwser()">{{ 'btnSendAnswer' | translate }}</button>
  </div>
  <br>
  <br>
  <div class="keyboardDiv">
    <ion-item >
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let button of buttons">
            <button ion-button [color]="button.color" id="button.desc" class="keyboard" (touchstart)="startNote(button)" (touchend)="stopNote(button)" >{{ button.desc }}</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
<!--
      <button id="btnRe3" class="keyboard" (touchstart)="startNote(62)" (touchend)="stopNote(62)">D3</button>
      <button id="btnMi3" class="keyboard" (touchstart)="startNote(64)" (touchend)="stopNote(64)">E3</button>
      <button id="btnFa3" class="keyboard" (touchstart)="startNote(65)" (touchend)="stopNote(65)">F3</button>
      <button id="btnSol3" class="keyboard" (touchstart)="startNote(67)" (touchend)="stopNote(67)">G3</button>
      <button id="btnLa3" class="keyboard" (touchstart)="startNote(69)" (touchend)="stopNote(69)">A3</button>
      <button id="btnSi3" class="keyboard" (touchstart)="startNote(71)" (touchend)="stopNote(71)">B3</button>
      <button id="btnDo4" class="keyboard" (touchstart)="startNote(72)" (touchend)="stopNote(72)">C4</button>
      <button id="btnRe4" class="keyboard" (touchstart)="startNote(74)" (touchend)="stopNote(74)">D4</button>
      <button id="btnMi4" class="keyboard" (touchstart)="startNote(76)" (touchend)="stopNote(76)">E4</button>
      <button id="btnFa4" class="keyboard" (touchstart)="startNote(77)" (touchend)="stopNote(77)">F4</button>
      <button id="btnSol4" class="keyboard" (touchstart)="startNote(79)" (touchend)="stopNote(79)">G4</button>
-->
  </div>
</ion-content>
